.transform-none {
  transform: none;
}

.bg-gradient-black {
  background: linear-gradient(0deg, #000, transparent);
}

:is(a, button, input, textarea, summary ):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary ):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}


.video-responsive,
.wp-block-embed__wrapper {
  padding: 56.25% 0 0 0;
  position: relative;

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

