.transform-none {
  transform: none;
}

.bg-gradient-black {
  background: linear-gradient(0deg, #000, transparent);
}

:is(a, button, input, textarea, summary, #menuToggle, #glaucoma-logo, #search-trigger) {
  --outline-size: max(2px, 0.08em);
  // --outline-style: solid;
  --outline-style: none;
  --outline-color: currentColor;
}

:is(a, button, input, textarea, summary, #search-trigger ):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
  text-decoration: underline;
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}


.video-responsive,
.wp-block-embed__wrapper {
  padding: 56.25% 0 0 0;
  position: relative;

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

