<header id="header">
  <div class="fixed w-full h-16 lg:h-32 top-0 left-0 z-50 bg-white shadow">
    <div class="max-w-container mx-auto px-4">
      <div class="flex items-center h-16 lg:h-32">
        <div class="site-logo h-12" role="banner">
          <a href="/" rel="home">
            <img src="{{ site.theme.link }}/public/logo.svg" alt="Site Logo" class="h-12 w-auto" ></a>
          </a>
        </div>

        <div class="ml-auto flex items-center h-full">
          <nav id="nav-main" class="nav-main ml-auto hidden lg:block" role="navigation">
            {% include "partials/menu-main.twig" with {'items': menu.main} %}
          </nav>
        </div>
      </div>
      
    </div>
  </div>
</header>



